<div class="container">
  <h1 class="is-size-4">Search country by name or abbreviations:</h1>
  <div >
    <form class="columns" [formGroup]="searchForm" (ngSubmit)="searchCountries($event)">
      <div class="column is-half m-2">
        <input class="input" formControlName="name" required>
        <p *ngIf="name.invalid && (name.dirty || name.touched)" class="help is-danger">Invalid search criteria
        </p>
      </div>
      <div class="column is-one-third">
        <button class="button is-info m-2" [disabled]="!searchForm.valid || searchButtonDisabled" type="submit">Search</button>
      </div>
    </form>
  </div>
  <div *ngIf="hasResults">
    <div style="text-align: center" class="is-size-3 m-4">Results</div>
    <div class="columns is-centered m-4">
      <div class="table-container">
        <table class="table">
          <thead>
          <th>Name</th>
          <th>Alpha-2 Code</th>
          <th>Alpha-3 Code</th>
          <th>Flag</th>
          <th>Region</th>
          <th>Sub-Region</th>
          <th>Populations</th>
          <th>Languages</th>
          </thead>
          <tbody>
          <tr *ngFor="let each of results">
            <td>{{ each.name }}</td>
            <td>{{ each.alpha2Code }}</td>
            <td>{{ each.alpha3Code }}</td>
            <td>
              <img style="max-height: 1em;" src="{{each.flagImageUrl}}">
            </td>
            <td>{{ each.region }}</td>
            <td>{{ each.subRegion }}</td>
            <td>{{ each.population }}</td>
            <td>
              <ul>
                <li *ngFor="let eachLang of each.languages">
                  {{ eachLang.name }}
                </li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div style="text-align: center" class="is-size-3">Statistics</div>
    <app-search-country-statistics [statistics]="this.statistics"></app-search-country-statistics>
  </div>
  <div *ngIf="!!errorMessage" class="notification is-danger">
    {{ errorMessage }}
  </div>
</div>
